html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  color: #9EE0FF;
  font-family: 'Monomaniac One', sans-serif;
}
h1 {
  font-size: 6.5rem !important;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}
.cinzel {
  font-family: 'Cinzel', serif !important;
  padding-top: 3%;
  padding-bottom: 3%;
}
.cinzel h2 {
  font-size: 4rem !important;
}
.header {
  color: #000000;
  top: 0;
  position: absolute;
  width: 100%;
  font-size: 1.7rem;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header ul li {
  margin: 0 15px;
}
.header ul li a {
  color: #9EE0FF;
  text-decoration: none;
}
.hero-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  background-image: url('../img/Hero section.png');
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
.hero-section img {
  max-width: 100%;
  height: auto;
  padding-bottom: 5%;
}
.hero-section button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px 0 0;
}
.hero-section .chevron {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.qui-je-suis {
  padding: 50px 0;
}
.image-placeholder {
  width: 300px;
  height: 300px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.image-placeholder img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.description {
  color: #ffffff;
  margin-top: 20px;
  font-family: 'Monomaniac One', serif;
}
.title {
  color: #9EE0FF;
  font-size: 4rem;
  margin-bottom: 40px;
}
.skill-text {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: #000000;
}
.skill-text2 {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: #9EE0FF;
  padding-top: 10%;
}
.skill-box,
.skill-box2,
.skill-box3 {
  font-family: 'Montagu Slab', serif;
  font-size: 1.5rem;
}
.skill-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.skill-box img {
  width: 75px;
  height: 75px;
}
.skill-box2 {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.skill-box2 img {
  height: 96px;
  width: auto;
}
.skill-box3 {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.skill-box3 img {
  width: 75px;
  height: 75px;
}
.portfolio-item {
  padding-bottom: 20%;
}
.portfolio-item .portfolio-title {
  margin-bottom: 40px;
  text-align: center;
}
.horizontal-bar {
  width: 100%;
  height: 2px;
  background-color: #333;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
}
footer {
  background-color: #000000;
  color: #9EE0FF;
  font-family: 'Monomaniac One', sans-serif;
  padding: 20px;
  margin-top: 200px;
}
footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0;
}
footer .footer-container .footer-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
footer .footer-container .footer-column:last-child {
  margin-right: 0;
}
footer .footer-container .footer-column ul {
  list-style-type: none;
  padding: 0;
}
footer .footer-container .footer-column ul li {
  margin-bottom: 10px;
}
footer .footer-container .footer-column ul li:last-child {
  margin-bottom: 0;
}
footer .footer-container .footer-column ul li a {
  color: #9EE0FF;
  text-decoration: none;
}
footer .footer-container .footer-column ul li a:hover {
  text-decoration: underline;
}
footer .footer-container .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
footer .footer-container .footer-social img {
  width: 30px;
  height: 30px;
}
footer .footer-container .footer-social img:hover {
  opacity: 0.8;
}
footer .footer-copyright {
  text-align: center;
  margin-top: 20px;
  color: #9EE0FF;
}
