html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}
.header {
  color: #000000;
  top: 0;
  position: absolute;
  width: 100%;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header ul li {
  margin: 0 15px;
}
.header ul li a {
  text-decoration: none;
  color: #b9d5f3;
}
.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  background-image: url('../img/Hero section.png');
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
.hero-section img {
  max-width: 100%;
  height: auto;
}
.hero-section h1 {
  margin: 20px 0;
  font-size: 4.5rem !important;
  font-weight: 700 !important;
  color: #333333 !important;
}
.hero-section button {
  background: none;
  border: none;
  cursor: pointer;
}
.hero-section img[alt="Mon Logo"] {
  padding-bottom: 5%;
}
.hero-section .chevron {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.qui-je-suis {
  padding: 50px 0;
}
.image-placeholder {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
}
.image-placeholder img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.description {
  color: #ffffff;
  margin-top: 20px;
  font-family: serif;
}
.title {
  color: #00ccff;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.skill-box,
.skill-box2,
.skill-box3,
.center-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 20px;
  color: #000000;
}
.skill-box img,
.skill-box2 img,
.skill-box3 img,
.center-box img {
  width: 75px;
  height: 75px;
}
.center-box {
  color: #00ccff;
}
.skill-box {
  border-radius: 0 0 20px 20px;
}
.skill-box3 {
  border-radius: 20px 20px 0 0;
}
.portfolio-item {
  text-align: center;
  padding: 15px;
}
.portfolio-item img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  clip-path: ellipse(50% 35% at 50% 50%);
}
.portfolio-item h3 {
  margin-top: 15px;
  color: #66ccff;
  font-size: 1.5rem;
}
